{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<div class="container">
  <div class="header">
    <h1>Welcome to MuslimLife</h1>
    <p>
      At MuslimLife, we're here to make Islamic knowledge and spirituality
      accessible to everyone. Our platform is designed with care to provide you
      with an easy and immersive experience. Whether you're new to Islam or
      looking to deepen your understanding, we're here to help.
    </p>
  </div>
  <div class="mission">
    <h2>Our Mission</h2>
    <p>
      Our goal is simple: to connect you with the beauty of Islam using
      technology. We want to help you connect with the Quran, the Islamic
      calendar, and daily prayers effortlessly. We believe that by combining
      faith, technology, and community, we can offer guidance in today's digital
      age.
    </p>
  </div>
  <div class="offer">
    <h2>What We Offer</h2>
    <div class="offer-item">
      <strong>Quran</strong>
      <p>
        Explore the wisdom of the Quran with our easy-to-use platform. You'll
        find the complete Quran, with all its chapters and verses. Use our handy
        bookmark feature to save your favorite verses.
      </p>
    </div>
    <div class="offer-item">
      <strong>Quranic Insights</strong>
      <p>
        Discover the depth of the Quran's teachings with our innovative tool.
        Simply enter a verse, and our technology will show you similar verses
        based on meaning. It's a powerful way to explore the richness of the
        Quran.
      </p>
    </div>
    <div class="offer-item">
      <strong>Prayer Times</strong>
      <p>
        Strengthen your connection with Allah by never missing a prayer. Our
        website provides accurate daily prayer times based on your location.
      </p>
    </div>
    <div class="offer-item">
      <strong>Islamic Calendar</strong>
      <p>
        Stay connected with the Islamic lunar calendar. Learn about important
        Islamic events and milestones throughout the year.
      </p>
    </div>
  </div>
  <div class="contact">
    <h2>Contact Us</h2>
    <p>
      If you have any questions or suggestions, please feel free to reach out to
      us at
      <a href="mailto:MuslimLife@tutamial.com">MuslimLife@tutamial.com</a>. Your
      feedback is important to us, and we're always working to improve your
      experience.
    </p>
    <p>
      Thank you for choosing MuslimLife as your source of inspiration. We wish
      you a blessed journey filled with knowledge, understanding, and inner
      peace.
    </p>
    <p class="signature">
      Sincerely,<br />
      The MuslimLife Team
    </p>
  </div>
</div>

{% endblock %}
